.env
/vendor
*.xslx
*.csv
*.yml
*.yaml
/node_modules
Homestead.yaml
Homestead.json
composer.phar
composer-setup.php
/.phpintel
.sass-cache
/.sass-cache
composer.lock
/_notes
.DS_Store
*.DS_Store
dwsync.xml
/public/temp
public/temp